<%= form_for @employ, :html => { :class => 'form-horizontal' } do |f| %>


  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
    <%= f.text_field :name, :class => 'number_field' %>
    </div>
  </div>


    <div class="control-group">
    <%= f.label :add, :class => 'control-label' %>
      <div class="controls">
    <%= f.text_field :add, :class => 'number_field' %>
     </div>
   </div>


    <div class="control-group">
    <%= f.label :mobile_no, :class => 'control-label' %>
      <div class="controls">
    <%= f.text_field :mobile_no, :class => 'number_field' %>
      </div>
  </div>


    <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary'  %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  employs_path, :class => 'btn' %>
  </div>
<% end %>
