<h1>Listing employs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Add</th>
    <th>Mobile no</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employs.each do |employ| %>
  <tr>
    <td><%= employ.name %></td>
    <td><%= employ.add %></td>
    <td><%= employ.mobile_no %></td>
    <td><%= link_to 'Show', employ %></td>
    <td><%= link_to 'Edit', edit_employ_path(employ) %></td>
    <td><%= link_to 'Destroy', employ, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employ', new_employ_path %>
