<%- model_class = Employ -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
    <th><%= model_class.human_attribute_name(:name) %></th>
    <th><%= model_class.human_attribute_name(:add) %></th>
    <th><%= model_class.human_attribute_name(:mobile_no) %></th>

  </tr>
  </thead>
  <tbody>

<% @employs.each do |employ| %>
  <tr>
    <td><%= link_to employ.id, employ_path(employ) %></td>
    <td><%= employ.name %></td>
    <td><%= employ.add %></td>
    <td><%= employ.mobile_no %></td>

  </tr>
<% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_employ_path,
            :class => 'btn btn-primary' %>