<%= form_for @product_transaction, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :delivary_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :delivary_type, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :delivary_challan, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :delivary_challan, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tax_invoice_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :tax_invoice_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tax, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tax, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :transaction_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :transaction_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                product_transactions_path, :class => 'btn' %>
  </div>
<% end %>
