<%= form_for(@product_transaction) do |f| %>
  <% if @product_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_transaction.errors.count, "error") %> prohibited this product_transaction from being saved:</h2>

      <ul>
      <% @product_transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :delivary_type %><br />
    <%= f.text_field :delivary_type %>
  </div>
  <div class="field">
    <%= f.label :delivary_challan %><br />
    <%= f.number_field :delivary_challan %>
  </div>
  <div class="field">
    <%= f.label :tax_invoice_id %><br />
    <%= f.number_field :tax_invoice_id %>
  </div>
  <div class="field">
    <%= f.label :tax %><br />
    <%= f.text_field :tax %>
  </div>
  <div class="field">
    <%= f.label :transaction_id %><br />
    <%= f.number_field :transaction_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
