<%= form_for @tax_invoice, :html => { :class => 'form-horizontal' } do |f| %>
    <div class="control-group">
      <%= f.label :PO_number, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :PO_number,options_for_select(@orders.map{|d| [d.PO_number, d.PO_number]}),{:include_blank => true}, :class => 'number_field' %>
      </div>
    </div>
  <div class="control-group">
    <%= f.label :invoice_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :invoice_number, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :invoice_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select  :invoice_date, :order => [:day, :month, :year], :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :due_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :due_date, :order => [:day, :month, :year], :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :product_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :product_name, options_for_select(@products.map{|d| [d.product_name, d.product_name]}),{ :include_blank => true}, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :invoice_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :invoice_type, options_for_select([["Select One", ""], "Labour Charges Only", "With Material"]), :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :labour_charges, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :labour_charges, :class => 'text_field' %>
    </div>
  </div>
   <div class="control-group">
      <%= f.label :quantity, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :quantity, :class => 'text_field' %>
      </div>
   </div>
  <div class="control-group">
    <%= f.label :amount, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :amount, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :total_payment, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :total_payment, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                tax_invoices_path, :class => 'btn' %>
  </div>
<% end %>
