<html>
<head>
  <title>
  </title>
</head>
<body>
<table height="1250" width="1000" align="center">
  <tr>
    <td>
      <table height="200" width="1000" border="1" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top">


            <div align="center">Subject to Nashik Jurisdiction</div>
            <div align="center">CHALLAN CUM INVOICE</div>

            <div class="logo"><%= image_tag("scsc.png") %><h1 align="center"><b>Shree Chakradhar Swami Engineering</b></h1></div>
            <div align="center"><b>[ISO : 9001 Certified]</b></div>
            <div align="center"><h3>SPECIALIST IN :</B> INTERNAL GRINDING / CYLINDRICAL GRINDING & SURFACE GRINDING (ROTARY)
            </h3></div>
            <div align="center"><b>Office : </b>R/H No. 10, Ganjanan R/h, Radha krushna Nagar, Ashok Nagar, Satpur, Nashik-12.</div>
            <div align="center"><b>Works : </b>Plot No. F-63, MIDC Satpur, Nashik-7 (Behind - M. G. Industry. E-mail:shreechakradhar@gmail.com</div>
          </td>
        </tr>
      </table>

      <table height="150" width="1000" border="1" align="center" cellpadding="0" cellspacing="0">

        <tr>

          <td valign="top" width="50%">
            To.
          </td>

          <td valign="top">
            <table border="1" height="100%" width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <td width="25%" align="center">INVOICE No.</td><td width="25%" align="center"><%= @tax_invoice.invoice_number %></td><td width="25%" align="center">Date</td><td align="center"><%= @tax_invoice.invoice_date  %></td>
              </tr>
              <tr>
                <td width="25%" align="center">P.O. No.</td><td width="25%" align="center"><%= @tax_invoice.PO_number%></td><td width="25%" align="center">Date</td><td width="25%" align="center"><%= @tax_invoice.due_date %></td>

              </tr>
              <tr>
                <td colspan="4">Vendor Code No.</td>

              </tr>
            </table>
          </td>

        </tr>
      </table>

      <table height="35" width="1000" border="1" align="center" cellpadding="0" cellspacing="0">

        <tr valign="top" height="15%">
          <td width="5%" align="center">Sr. No</td>
          <td width="15%" align="center">Part No.</td>
          <td width="40%" align="center">Material Description</td>
          <td width="10%" align="center">Quantity</td>
          <td width="15%" align="center">Rate</td>
          <td width="15%" align="center">Amount</td>
        </tr>
      </table>

      <table height="35" width="1000" border="1" align="center" cellpadding="0" cellspacing="0">

        <tr valign="top" >
          <td width="5%" align="center">&nbsp;</td>
          <td width="15%" align="center">&nbsp;</td>
          <td width="40%" align="center"><h3><%= @tax_invoice.invoice_type %></h3></td>
          <td width="10%" align="center">&nbsp;</td>
          <td width="15%" align="center">Rs.</td>

          <td width="15%" align="center">Rs.</td>

        </tr>
      </table>

      <table height="450" width="1000" border="1" align="center" cellpadding="0" cellspacing="0">

        <tr valign="top">
          <td width="5%" align="center">&nbsp;</td>
          <td width="15%" align="center"><%= @tax_invoice.product_name %></td>
          <td width="40%">&nbsp;</td>
          <td width="10%" align="center"><%= @tax_invoice.quantity %></td>
          <td width="15%" align="right"><%= @tax_invoice.rate %></td>

          <td width="15%" align="right"><%= @tax_invoice.amount.round(5) %></td>

        </tr>
      </table>


      <table height="30" width="1000" border="1" align="center" cellpadding="0" cellspacing="0">

        <tr valign="top">
          <td width="5%" align="center">&nbsp;</td>
          <td width="15%" align="center">&nbsp;</td>
          <td width="40%" align="center"><div>PAN No.:<b>ACLPP8613R</b></div></td>
          <td width="10%" align="center">&nbsp;</td>
          <td width="15%" align="center">&nbsp;</td>

          <td width="15%" align="center">&nbsp;</td>

        </tr>
      </table>


      <table height="30" width="1000" border="1" align="center" cellpadding="0" cellspacing="0">

        <tr valign="top">
          <td width="5%" align="center">&nbsp;</td>
          <td width="15%" align="center">&nbsp;</td>
          <td width="10%">Shop Order</td>
          <td width="10%">&nbsp;</td>
          <td width="10%">Open No.</td>
          <td width="10%">&nbsp;</td>
          <td width="10%" align="center">&nbsp;</td>
          <td width="15%" align="center">&nbsp;</td>

          <td width="15%" align="center">&nbsp;</td>

        </tr>
      </table>


      <table height="150" width="1000" border="1" align="center" cellpadding="0" cellspacing="0">

        <tr valign="top">
          <td width="70%">
            <div><b>VATTIN No. : 27780881734 - V w.e.f.4.2.2012</b></div>
            <div><b>CSTTIN No. : 27780881734 - C w.e.f.4.2.2012</b></div>
            <div align="justify">"I/We here by certified that my our registration certificate under the Maharashtra Value Added Tax act 2002 is in force on the date on which the sale of goods specified in this tax invoice is made by me/ us and that the transaction of sale covered by this tax invoice has been effected by me/us and each shall be accounted for the turn over Of sales which filling of returns and the due tax, if any, payable on the sale has been paid or shall be paid" </div>
          </td>
          <td width="15%">
            <table border="1" height="100%" align=""  width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <td align="center"><b>TOTAL</b></td>
              </tr>
              <tr>
                <td align="center"><B>VAT @ <%= @tax_invoice.tax %></B></td>
              </tr>
              <tr>
                <td align="center"><B>GRAND TOTAL</B></td>
              </tr>

            </table>
          </td>
          <td width="15%">
            <table border="1" height="100%" width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <td width="76%" align="right"> <%= @tax_invoice.amount.round(5) %> </td>


              </tr>
              <tr>
                <td align="right"> <%= @tax_invoice.vat.round(5) %> </td>


              </tr>
              <tr>
                <td align="right"> <%= @tax_invoice.total_payment.round(5) %> </td>


              </tr>

            </table>
          </td>

        </tr>
      </table>
      <!---------------------------------------------------------------------------------------------------->
      <table height="30" width="1000" border="1" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td>
            Rs. in words:
          </td>
        </tr>
      </table>
      <!---------------------------------------------------------------------------------------------------->
      <table height="60" width="1000" border="1" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="60%" valign="top">
            TERMS: 24% interest per annum will be charged on all account remain unpaid after delivery our responsibligy ceases once the goods will leave our factory. All disputes to be settled within Nashik Jurisdiction.
          </td>
          <td valign="top" align="right">
            For <b>Shree Chakradhar Swami Engineering</b>
          </td>
        </tr>
      </table>
      <!---------------------------------------------------------------------------------------------------->

      <table height="80" width="1000" border="1" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="60%" valign="bottom">
            <b>Receiver's Signature & Stamp</b>
          </td>
          <td valign="bottom">
            <center>Authorised Signatory</center>
          </td>
        </tr>
      </table>
    </td>
  </tr>

</table>

<!---------------------------------------------------------------------------------------------------->

</body>
</html>