<html>
<head>
  <title>

  </title>
</head>
<body>
<table height="1530" width="1150" align="center">
  <tr>
    <td>
      <table height="230" width="1150" border="1" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top">


            <div align="center">Subject to Nashik Jurisdiction</div>
            <div align="right">Mo.no:- 9823255572  </div>
            <div align="center">CHALLAN CUM INVOICE</div>

            <div class="logo"><h1 align="center"><b>Shree Chakradhar Swami Engineering</b></h1></div>
            <div align="center"><b>[ISO 9001 : 2008 Certified]</b></div>
            <div align="center"><h3>SPECIALIST IN :</B> INTERNAL GRINDING / CYLINDRICAL GRINDING & SURFACE GRINDING (ROTARY)
            </h3></div>
            <div align="center"><b>Office : </b>R/H No. 10, Ganjanan R/h, Radha krushna Nagar, Ashok Nagar, Satpur, Nashik-12.</div>
            <div align="center"><b>Works : </b>Plot No. F-63, MIDC Satpur, Nashik-7 (Behind - M. G. Industry. E-mail:shreechakradhar@gmail.com</div>
          </td>
        </tr>
      </table>

      <table height="150" width="1150" border="1" align="center" cellpadding="0" cellspacing="0">

        <tr>

          <td valign="top" width="50%">
            To.<br>
                 <h3><%= @tax_invoice.company.name %></h3>

                 <h4><%= @tax_invoice.company.add %></h4>
          </td>

          <td valign="top">
            <table border="1" height="100%" width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <td width="25%" align="center">INVOICE No.</td><td width="25%" align="center"><%= @tax_invoice.id %></td><td width="25%" align="center">Date</td><td align="center"><%= @tax_invoice.invoice_date  %></td>
              </tr>
              <tr>
                <td width="25%" align="center">P.O. No.</td><td width="25%" align="center"><%= @tax_invoice.PO_number%></td><td width="25%" align="center">Date</td><td width="25%" align="center"><%= @tax_invoice.po_date %></td>

              </tr>
              <tr>
                <td colspan="4">Vendor Code No.:- 1875</td>

              </tr>
            </table>
          </td>

        </tr>
      </table>

      <table height="60" width="1150" border="1" align="center" cellpadding="0" cellspacing="0">

        <tr valign="top" height="15%">
          <td width="4%" align="center">Sr. No</td>
          <td width="15%" align="center">Part No.</td>
          <td width="30%" align="center">Material Description</td>
          <td width="13%" align="center">Quantity</td>
          <td width="23%" align="center">Rate</td>
          <td width="15%" align="center">Amount</td>
        </tr>
      </table>

      <table height="60" width="1150" border="1" align="center" cellpadding="0" cellspacing="0">

        <tr valign="top" >
          <td width="4%" align="center">&nbsp;</td>
          <td width="15%" align="center">&nbsp;</td>
          <td width="30%" align="center"><h3><%= @tax_invoice.invoice_type %></h3></td>
          <td width="13%" align="center">&nbsp;</td>
          <td width="23%" align="center">Rs.</td>

          <td width="15%" align="center">Rs.</td>

        </tr>
      </table>

      <table height="60" width="1150" border="1" align="center" cellpadding="0" cellspacing="0">

        <tr valign="top">
          <td width="4%" align="center">&nbsp;</td>
          <td width="15%" align="center"><%= @tax_invoice.product_number %></td>
          <td width="30%" align="center"> <%= @tax_invoice.product_name %></td>
          <td width="13%" align="center">PO Quantity<br><%= @tax_invoice.po_quantity %></td>
          <td width="23%" align="center">&nbsp;</td>

          <td width="15%" align="center">&nbsp;</td>

        </tr>
      </table>

      <table height="60" width="1150" border="1" align="center" cellpadding="0" cellspacing="0">

        <tr valign="top">
          <td width="4%" align="center">&nbsp;</td>
          <td width="15%" align="center">&nbsp;</td>
          <td width="30%" align="center"> &nbsp;</td>
          <td width="13%" align="center">Invoice Quantity<br><%= @tax_invoice.invoice_quantity %></td>
          <td width="23%" align="center">&nbsp;</td>

          <td width="15%" align="center">&nbsp;</td>

        </tr>
      </table>

      <table height="60" width="1150" border="1" align="center" cellpadding="0" cellspacing="0">

        <tr valign="top">
          <td width="4%" align="center">&nbsp;</td>
          <td width="15%" align="center">&nbsp;</td>
          <td width="30%" align="center"> &nbsp;</td>
          <td width="13%" align="center">Return Quantity<br><%= @tax_invoice.return_quantity %></td>
          <td width="23%" align="center">&nbsp;</td>

          <td width="15%" align="center">&nbsp;</td>

        </tr>
      </table>

      <table height="60" width="1150" border="1" align="center" cellpadding="0" cellspacing="0">

        <tr valign="top">
          <td width="4%" align="center">&nbsp;</td>
          <td width="15%" align="center">&nbsp;</td>
          <td width="30%" align="center"> &nbsp;</td>
          <td width="13%" align="center">Rejected Quantity as scrap<br><%= @tax_invoice.rejected_quantity %></td>
          <td width="23%" align="center">&nbsp;</td>

          <td width="15%" align="center">&nbsp;</td>

        </tr>
      </table>

      <table height="170" width="1150" border="1" align="center" cellpadding="0" cellspacing="0">

        <tr valign="top">
          <td width="4%" align="center">&nbsp;</td>
          <td width="15%" align="center">&nbsp;</td>
          <td width="30%" align="center"> &nbsp;</td>
          <td width="13%" align="center">Fianl Quantity<br><%= @tax_invoice.final_quantity %></td>
          <td width="23%" align="center"><%= @tax_invoice.rate %></td>

          <td width="15%" align="center"><%= @tax_invoice.amount.round(2) %></td>

        </tr>
      </table>

      <table height="60" width="1150" border="1" align="center" cellpadding="0" cellspacing="0">

        <tr valign="top">
          <td width="4%" align="center">&nbsp;</td>
          <td width="15%" align="center">&nbsp;</td>
          <td width="30%" align="center">&nbsp;</td>
          <td width="13%" align="center">&nbsp;</td>
          <td width="23%" align="center">2% TDS</td>

          <td width="15%" align="center"><%= @tax_invoice.tds.round(2) %></td>

        </tr>
      </table>

      <table height="60" width="1150" border="1" align="center" cellpadding="0" cellspacing="0">

        <tr valign="top">
          <td width="4%" align="center">&nbsp;</td>
          <td width="15%" align="center">&nbsp;</td>
          <td width="30%" align="center">&nbsp;</td>
          <td width="13%" align="center">&nbsp;</td>
          <td width="23%" align="center">EXCISE DUTY 12%</td>

          <td width="15%" align="center"><%= @tax_invoice.excise.round(2) %></td>

        </tr>
      </table>

      <table height="60" width="1150" border="1" align="center" cellpadding="0" cellspacing="0">

        <tr valign="top">
          <td width="4%" align="center">&nbsp;</td>
          <td width="15%" align="center">&nbsp;</td>
          <td width="30%" align="center">&nbsp;</td>
          <td width="13%" align="center">&nbsp;</td>
          <td width="23%" align="center">2% Ed.Cess on 12% Excise</td>

          <td width="15%" align="center"><%= @tax_invoice.ed_cess.round(2) %></td>

        </tr>
      </table>

      <table height="60" width="1150" border="1" align="center" cellpadding="0" cellspacing="0">

        <tr valign="top">
          <td width="4%" align="center">&nbsp;</td>
          <td width="15%" align="center">&nbsp;</td>
          <td width="30%" align="center"><div>PAN No.:<b>ACLPP8613R</b></div></td>
          <td width="13%" align="center">&nbsp;</td>
          <td width="23%" align="center">1% Edu.Cess on 12% Excise</td>

          <td width="15%" align="center"><%= @tax_invoice.edu_cess.round(2) %></td>

        </tr>
      </table>


      <table height="60" width="1150" border="1" align="center" cellpadding="0" cellspacing="0">

        <tr valign="top">
          <td width="4%" align="center">&nbsp;</td>
          <td width="15%" align="center">&nbsp;</td>
          <td width="8.3%">Shop Order</td>
          <td width="8.3%">&nbsp;</td>
          <td width="8.3%">Open No.</td>
          <td width="8.3%">&nbsp;</td>
          <td width="10%" align="center">&nbsp;</td>
          <td width="23%" align="center">VALUE ADDED TAX @ 12.5%</td>

          <td width="15%" align="center"><%= @tax_invoice.value_added_tax.round(2) %></td>

        </tr>
      </table>


      <table height="150" width="1150" border="1" align="center" cellpadding="0" cellspacing="0">

        <tr valign="top">
          <td width="60%">
            <div><b>VATTIN No. : 27780881734 - V w.e.f.4.2.2012</b></div>
            <div><b>CSTTIN No. : 27780881734 - C w.e.f.4.2.2012</b></div>
            <div align="justify">"I/We here by certified that my our registration certificate under the Maharashtra Value Added Tax act 2002 is in force on the date on which the sale of goods specified in this tax invoice is made by me/ us and that the transaction of sale covered by this tax invoice has been effected by me/us and each shall be accounted for the turn over Of sales which filling of returns and the due tax, if any, payable on the sale has been paid or shall be paid" </div>
          </td>
          <td width="25%">
            <table border="1" height="100%" align=""  width="100%" cellpadding="0" cellspacing="0">

              <tr>
                <td align="center"><b>TOTAL BASIC VALUE</b></td>
              </tr>
              <tr>
                <td align="center"><B>Total Tax</B></td>
              </tr>
              <tr>
                <td align="center"><B>GRAND VALUE</B></td>
              </tr>

            </table>
          </td>
          <td width="15%">
            <table border="1" height="100%" width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <td width="76%" align="center"> <%= @tax_invoice.amount.round(2) %> </td>


              </tr>
              <tr>
                <td align="center"><%= @tax_invoice.total_tax.round(2) %> </td>


              </tr>
              <tr>
                <td align="center"> <%= @tax_invoice.total_payment.round(2) %> </td>


              </tr>

            </table>
          </td>

        </tr>
      </table>
      <!---------------------------------------------------------------------------------------------------->
      <table height="30" width="1150" border="1" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td>
            Rs. in words:
          </td>
        </tr>
      </table>
      <!---------------------------------------------------------------------------------------------------->
      <table height="60" width="1150" border="1" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="60%" valign="top">
            TERMS: 24% interest per annum will be charged on all account remain unpaid after delivery our responsibligy ceases once the goods will leave our factory. All disputes to be settled within Nashik Jurisdiction.
          </td>
          <td valign="top" align="right">
            For <b>Shree Chakradhar Swami Engineering</b>
          </td>
        </tr>
      </table>
      <!---------------------------------------------------------------------------------------------------->

      <table height="80" width="1150" border="1" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="60%" valign="bottom">
            <b>Receiver's Signature & Stamp</b>
          </td>
          <td valign="bottom">
            <center>Authorised Signatory</center>
          </td>
        </tr>
      </table>
    </td>
  </tr>

</table>

<!---------------------------------------------------------------------------------------------------->

</body>
</html>