<%- model_class = TaxInvoice -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:PO_number) %></th>
      <th><%= model_class.human_attribute_name(:company) %></th>
      <th><%= model_class.human_attribute_name(:invoice_date, :order => [:day, :month, :year]) %></th>
      <th><%= model_class.human_attribute_name(:po_date, :order => [:day, :month, :year]) %></th>
      <th><%= model_class.human_attribute_name(:product_number) %></th>
      <th><%= model_class.human_attribute_name(:product_name) %></th>
      <th><%= model_class.human_attribute_name(:invoice_type) %></th>
      <th><%= model_class.human_attribute_name(:quantity) %></th>
      <th><%= model_class.human_attribute_name(:return_quantity) %></th>
      <th><%= model_class.human_attribute_name(:rejected_quantity) %></th>
      <th><%= model_class.human_attribute_name(:final_quantity) %></th>
      <th><%= model_class.human_attribute_name(:rate) %></th>
      <th><%= model_class.human_attribute_name(:amount) %></th>

      <th><%= model_class.human_attribute_name(:total_tax) %></th>
      <th><%= model_class.human_attribute_name(:total_payment) %></th>
      <th><%= model_class.human_attribute_name(:paid_payment) %></th>
      <th><%= model_class.human_attribute_name(:unpaid_payment) %></th>

    </tr>
  </thead>
  <tbody>
    <% @tax_invoices.each do |tax_invoice| %>
      <tr>
        <td><%= link_to tax_invoice.id, tax_invoice_path(tax_invoice) %></td>
        <td><%= tax_invoice.PO_number %></td>
        <td><%= tax_invoice.company.name %></td>
        <td><%= tax_invoice.invoice_date %></td>
        <td><%= tax_invoice.po_date %></td>
        <td><%= tax_invoice.product_number %></td>
        <td><%= tax_invoice.product_name %></td>
        <td><%= tax_invoice.invoice_type %></td>
        <td><%= tax_invoice.quantity %></td>
        <td><%= tax_invoice.return_quantity %></td>
        <td><%= tax_invoice.rejected_quantity %></td>
        <td><%= tax_invoice.final_quantity %></td>
        <td><%= tax_invoice.rate %></td>
        <td><%= tax_invoice.amount %></td>


        <td><%= tax_invoice.total_tax.round(2) %></td>
        <td><%= tax_invoice.total_payment.round(2) %></td>
        <td><%= tax_invoice.paid_payment %></td>
        <td><%= tax_invoice.unpaid_payment.round(2) %></td>
        <td>






        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class="flickr_pagination">
  <div class="page_info">
    <%= page_entries_info @tax_invoices %>
  </div>
  <%= will_paginate @tax_invoices, :container => false %>
</div>



