<%- model_class = TaxInvoice -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:PO_number) %></th>
      <th><%= model_class.human_attribute_name(:invoice_number) %></th>
      <th><%= model_class.human_attribute_name(:invoice_date, :order => [:day, :month, :year]) %></th>
      <th><%= model_class.human_attribute_name(:due_date, :order => [:day, :month, :year]) %></th>
      <th><%= model_class.human_attribute_name(:product_name) %></th>
      <th><%= model_class.human_attribute_name(:invoice_type) %></th>
      <th><%= model_class.human_attribute_name(:quantity) %></th>
      <th><%= model_class.human_attribute_name(:rate) %></th>
      <th><%= model_class.human_attribute_name(:labour_charges) %></th>
      <th><%= model_class.human_attribute_name(:tax) %></th>
      <th><%= model_class.human_attribute_name(:amount) %></th>
      <th><%= model_class.human_attribute_name(:vat) %></th>
      <th><%= model_class.human_attribute_name(:total_payment) %></th>
      <th><%= model_class.human_attribute_name(:payment) %></th>

      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @tax_invoices.each do |tax_invoice| %>
      <tr>
        <td><%= link_to tax_invoice.id, tax_invoice_path(tax_invoice) %></td>
        <td><%= tax_invoice.PO_number %></td>
        <td><%= tax_invoice.invoice_number %></td>
        <td><%= tax_invoice.invoice_date %></td>
        <td><%= tax_invoice.due_date %></td>
        <td><%= tax_invoice.product_name %></td>
        <td><%= tax_invoice.invoice_type %></td>
        <td><%= tax_invoice.quantity %></td>
        <td><%= tax_invoice.rate %></td>
        <td><%= tax_invoice.labour_charges %></td>
        <td><%= tax_invoice.tax %></td>
        <td><%= tax_invoice.amount.round(2) %></td>
        <td><%= tax_invoice.vat.round(2) %></td>
        <td><%= tax_invoice.total_payment.round(2) %></td>
        <td><%= tax_invoice.payment %></td>

        <td>




          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_tax_invoice_path(tax_invoice), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      tax_invoice_path(tax_invoice),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class="flickr_pagination">
  <div class="page_info">
    <%= page_entries_info @tax_invoices %>
  </div>
  <%= will_paginate @tax_invoices, :container => false %>
</div>


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_tax_invoice_path,
            :class => 'btn btn-primary' %>
