<%- model_class = TaxInvoice -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:PO_number) %>:</strong></dt>
  <dd><%= @tax_invoice.PO_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:company) %>:</strong></dt>
  <dd><%= @tax_invoice.company.name  %></dd>
  <dt><strong><%= model_class.human_attribute_name(:invoice_date, :order => [:day, :month, :year]) %>:</strong></dt>
  <dd><%= @tax_invoice.invoice_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:po_date, :order => [:day, :month, :year]) %>:</strong></dt>
  <dd><%= @tax_invoice.po_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:product_number) %>:</strong></dt>
  <dd><%= @tax_invoice.product_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:product_name) %>:</strong></dt>
  <dd><%= @tax_invoice.product_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:invoice_type) %>:</strong></dt>
  <dd><%= @tax_invoice.invoice_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:po_quantity) %>:</strong></dt>
  <dd><%= @tax_invoice.po_quantity %></dd>
  <dt><strong><%= model_class.human_attribute_name(:invoice_quantity) %>:</strong></dt>
  <dd><%= @tax_invoice.invoice_quantity %></dd>
  <dt><strong><%= model_class.human_attribute_name(:return_quantity) %>:</strong></dt>
  <dd><%= @tax_invoice.return_quantity %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rejected_quantity) %>:</strong></dt>
  <dd><%= @tax_invoice.rejected_quantity %></dd>
  <dt><strong><%= model_class.human_attribute_name(:final_quantity) %>:</strong></dt>
  <dd><%= @tax_invoice.final_quantity %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rate) %>:</strong></dt>
  <dd><%= @tax_invoice.rate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:amount) %>:</strong></dt>
  <dd><%= @tax_invoice.amount %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tds) %>:</strong></dt>
  <dd><%= @tax_invoice.tds.round(2) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:excise) %>:</strong></dt>
  <dd><%= @tax_invoice.excise.round(2) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ed_cess) %>:</strong></dt>
  <dd><%= @tax_invoice.ed_cess.round(2) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:edu_cess) %>:</strong></dt>
  <dd><%= @tax_invoice.edu_cess.round(2) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:value_added_tax) %>:</strong></dt>
  <dd><%= @tax_invoice.value_added_tax.round(2) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:total_tax) %>:</strong></dt>
  <dd><%= @tax_invoice.total_tax.round(2) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:total_payment) %>:</strong></dt>
  <dd><%= @tax_invoice.total_payment.round(2) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:paid_payment) %>:</strong></dt>
  <dd><%= @tax_invoice.paid_payment %></dd>
  <dt><strong><%= model_class.human_attribute_name(:unpaid_payment) %>:</strong></dt>
  <dd><%= @tax_invoice.unpaid_payment.round(2) %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              tax_invoices_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              {:controller => "tax_invoices", :action => "edit", :id8 => @tax_invoice.PO_number, :id9 => @tax_invoice.company}, :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              tax_invoice_path(@tax_invoice),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  <p id="pdf_link"> <%= link_to "Download Invoice",generate_pdf_path(:format => 'pdf'), :class => "btn" %> </p>
</div>
