<%= form_for @bank_transaction, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :type, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :micor_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :micor_code, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bank_account_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bank_account_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                bank_transactions_path, :class => 'btn' %>
  </div>
<% end %>
