<%= form_for @employ_payment, :html => { :class => 'form-horizontal' } do |f| %>



    <div class="control-group">
    <%= f.label :employ_name, :class => 'control-label' %>
      <div class="controls">
    <%= f.select :employ_name, options_for_select(@employs.map{|d| [d.name, d.name] }),{:include_blank => true}, :class => 'number_field' %>
      </div>
  </div>

    <div class="control-group">
      <%= f.label :bank_account_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :bank_account_id, options_for_select(@bank_accounts.map{|d| ["#{d.bank_name} - #{d.account_number}", d.id] }),{ :include_blank => true }, :class => 'number_field' %>
      </div>
    </div>


    <div class="control-group">
    <%= f.label :micor_code, :class => 'control-label' %>
      <div class="controls">
    <%= f.text_field :micor_code, :class => 'number_field' %>
      </div>
  </div>


    <div class="control-group">
    <%= f.label :amount, :class => 'control-label' %>
      <div class="controls">
    <%= f.text_field :amount, :class => 'number_field' %>
      </div>
  </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary'  %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  employ_payments_path, :class => 'btn' %>
    </div>
<% end %>

