<%- model_class = EmployPayment -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
    <th><%= model_class.human_attribute_name(:employ_name) %></th>
    <th><%= model_class.human_attribute_name(:bank_name) %></th>
    <th><%= model_class.human_attribute_name(:micor_code) %></th>
    <th><%= model_class.human_attribute_name(:amount) %></th>

  </tr>
  </thead>
  <tbody>
<% @employ_payments.each do |employ_payment| %>
  <tr>
    <td><%= link_to employ_payment.id, employ_payment_path(employ_payment) %></td>
    <td><%= employ_payment.employ_name %></td>
    <td><%= employ_payment.bank_account.bank_name +  employ_payment.bank_account.account_number %></td>
    <td><%= employ_payment.micor_code %></td>
    <td><%= employ_payment.amount %></td>

  </tr>
<% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_employ_payment_path,
            :class => 'btn btn-primary' %>