<h1>Listing refunds</h1>

<table>
  <tr>
    <th>Transaction</th>
    <th>Product transaction</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @refunds.each do |refund| %>
  <tr>
    <td><%= refund.transaction_id %></td>
    <td><%= refund.product_transaction_id %></td>
    <td><%= refund.quantity %></td>
    <td><%= link_to 'Show', refund %></td>
    <td><%= link_to 'Edit', edit_refund_path(refund) %></td>
    <td><%= link_to 'Destroy', refund, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Refund', new_refund_path %>
