<%- model_class = Refund -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:transaction_id) %></th>
      <th><%= model_class.human_attribute_name(:product_transaction_id) %></th>
      <th><%= model_class.human_attribute_name(:quantity) %></th>

      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @refunds.each do |refund| %>
      <tr>
        <td><%= link_to refund.id, refund_path(refund) %></td>
        <td><%= refund.transaction_id %></td>
        <td><%= refund.product_transaction_id %></td>
        <td><%= refund.quantity %></td>

        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_refund_path(refund), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      refund_path(refund),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="flickr_pagination">
  <div class="page_info">
    <%= page_entries_info @refunds %>
  </div>
  <%= will_paginate @refunds, :container => false %>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_refund_path,
            :class => 'btn btn-primary' %>
