<%= form_for @transaction, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :bank_transaction_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :bank_transaction_id, options_for_select(@bank_transactions.map{|d|["#{d.transaction_type} - #{d.micor_code}", d.id] }),{:include_blank => true}, :class => 'number_field' %>

    </div>
  </div>
  <div class="control-group">
    <%= f.label :total, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :total, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :total_refund, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :total_refund, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :product_transaction_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :product_transaction_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                transactions_path, :class => 'btn' %>
  </div>
<% end %>
