<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<%= search_form_for @search do |f| %>
      <div class="field">
        <%= f.label :product_number_cont, "Name Contains" %>
        <%= f.text_field :product_number_cont %>
        <div class="actions">
          <%= f.submit "search" %>
        </div>
      </div>

<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:product_number) %></th>

      <th><%= model_class.human_attribute_name(:product_name) %></th>
      <th><%= model_class.human_attribute_name(:vender_code) %></th>
      <th><%= model_class.human_attribute_name(:product_type) %></th>

      <th><%= model_class.human_attribute_name(:rate) %></th>

    </tr>
  </thead>
  <tbody>

    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.id, product_path(product) %></td>
        <td><%= product.product_number %></td>

        <td><%= product.product_name %></td>
        <td><%= product.vender_code %></td>
        <td><%= product.product_type %></td>

        <td><%= product.rate %></td>
        <td>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class="flickr_pagination">
  <div class="page_info">
    <%= page_entries_info @products %>
  </div>
  <%= will_paginate @products, :container => false %>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_product_path,
            :class => 'btn btn-primary' %>
